.tag {
    color: lighten($primary, 20%);
    cursor: pointer;
    margin-right: 0.5rem;

    &:hover {
        color: $primary;
        text-decoration: underline;
    }
}

.app--light .tag {
    color: $primary;

    &:hover {
        color: darken($primary, 20%);
    }
}
