.tabs {
    width: 100%;
    height: 2.5rem;
    display: flex;
    justify-content: space-around;
    place-items: center;
    border: solid black 1px;

    @include breakpoint(tablet) {
        justify-content: start;
        padding-left: 1rem;

        p {
            margin-right: 1rem;
        }
    }

    p {
        font-size: 1rem;
        position: relative;
        cursor: pointer;

        &.active::after {
            content: "";
            position: absolute;
            left: -5%;
            bottom: -2px;
            width: 110%;
            height: 2px;
            background-color: $primary;
        }

        @include breakpoint(laptop) {
            margin-right: 2rem;
        }
    }
}
