.dropdown {
    $height: 2.4rem;
    position: relative;

    label {
        position: absolute;
        top: -1.5rem;
        left: 0.5rem;
        font-size: 0.8rem;
    }

    select {
        appearance: none;
        padding-left: 1rem;
        padding-right: 1rem;
        border-radius: $height / 2;
        height: $height;
        outline: none;
        border: none;
        width: 100%;

        &:focus {
            box-shadow: 0px 0px 5px 3px $primary;
        }
    }

    svg {
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
    }
}

.app--light .dropdown select {
    background-color: $neutral-1;
}
.app--void .dropdown select {
    background-color: $neutral-6;
    color: $neutral-2;
}
.app--dark .dropdown select {
    background-color: $neutral-4;
    color: $neutral-1;
}
