.form {
    position: relative;
    height: 100%;
    width: 100%;

    &__title {
        text-align: center;
        font-family: $ff-heading;
        margin-bottom: 1.5rem;
        margin-top: 1rem;
        letter-spacing: 1px;
    }

    &__link {
        color: $neutral-4;
        cursor: pointer;
        margin-top: 1.5rem;

        &:hover {
            color: $neutral-6;
        }
    }

    footer {
        position: absolute;
        bottom: 2rem;
        left: 50%;
        transform: translateX(-50%);
    }
}

.app--light .form {
    &__title {
        color: $neutral-7;
    }
}

.app--dark .form {
    &__title {
        color: $neutral-1;
    }
}
