.form {
    position: relative;
    min-width: 60rem;
    display: grid;
    grid-template-rows: 8rem 1fr 8rem;

    &__title {
        text-align: center;
        font-family: $ff-heading;
        place-self: center;
        letter-spacing: 1px;
    }

    &__link {
        cursor: pointer;
        margin-top: 1.5rem;
    }

    section {
        padding: 2rem;
    }

    footer {
        place-self: center;
        display: flex;
        flex-direction: column;
        place-items: center;
    }
}

.app--light .form {
    &__title {
        color: $neutral-7;
    }

    &__link {
        color: $neutral-3;

        &:hover {
            color: $neutral-7;
        }
    }
}

.app--dark .form {
    &__title {
        color: $neutral-1;
    }

    &__link {
        color: $neutral-1;

        &:hover {
            color: $primary-dark;
        }
    }
}
