.chatbar {
    position: absolute;
    right: 0;
    width: $chatbar-width;
    height: 100%;
    background-color: $c-light;
    border-left: solid $c-shadow 2px;
    // position: fixed;
    // top: $topbar-height;
    // right: 0;
    // width: $chatbar-width;
    // height: calc(100vh - $topbar-height);
    // background-color: $c-light;
    // border-left: solid $c-shadow 2px;
}
