$void: #161220;
$primary: #0b72c6;

$theme-red: #e63946;
$theme-green: #06d6a0;
$theme-purple: #8338ec;
$theme-blue: #48bfe3;

$neutral-1: #f9f6ee;
$neutral-2: #e5e5e5;
$neutral-3: #71797e;
$neutral-4: #303033;
$neutral-5: #18181c;
$neutral-6: #0a0e14;
