@use "sass:map";

$breakpoints: (
    tablet: 481px,
    laptop: 769px,
    desktop: 1200px,
);

@mixin breakpoint($key) {
    $size: map.get($breakpoints, $key);

    @media (min-width: $size) {
        @content;
    }
}

@mixin lightTheme {
    background-color: darken($neutral-2, 5%);
    color: $neutral-6;
}
@mixin voidTheme {
    background-color: darken($void, 5%);
    color: $neutral-2;
}
@mixin darkTheme {
    background-color: $neutral-5;
    color: $neutral-1;
}
