@use "sass:map";

$breakpoints: (
    tablet: 481px,
    laptop: 769px,
    desktop: 1200px,
);

@mixin breakpoint($key) {
    $size: map.get($breakpoints, $key);

    @media (min-width: $size) {
        @content;
    }
}

$invBreakpoints: (
    mobile: 480px,
    tablet: 768px,
    laptop: 1199px,
);

@mixin breakpointInv($key) {
    $size: map.get($invBreakpoints, $key);

    @media (max-width: $size) {
        @content;
    }
}
