.auth-page {
    padding: 10rem;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 60rem;
    gap: 2rem;

    &__welcome {
        position: relative;

        h1 {
            color: $neutral-1;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }
    }

    &__welcome,
    > .container {
        display: grid;
        place-self: center;
    }

    img {
        position: absolute;
        opacity: 0.5;
        z-index: -1;
    }
}

.app--light .auth-page {
    img {
        opacity: 1;
    }
}
