$primary-light: #42a5f5;
$secondary-light: #ab47bc;
$error-light: #d32f2f;
$warning-light: #f57c00;
$info-light: #0288d1;
$success-light: #388e3c;

$primary-light-accent: darken($primary-light, 40%);

$primary-dark: #90caf9;
$secondary-dark: #c699f0;
$error-dark: #e57373;
$warning-dark: #ffb74d;
$info-dark: #4fc3f7;
$success-dark: #81c784;

$primary-dark-accent: darken($primary-dark, 50%);

$neutral-1: #f9f6ee;
$neutral-2: #898282;
$neutral-3: #6e6868;
$neutral-4: #303033;
$neutral-5: #262629;
$neutral-6: #18181c;
$neutral-7: #0a0e14;

$light-colors: (
    primary: $primary-light,
    secondary: $secondary-light,
    error: $error-light,
    warning: $warning-light,
    info: $info-light,
    success: $success-light,
);

$dark-colors: (
    primary: $primary-dark,
    secondary: $secondary-dark,
    error: $error-dark,
    warning: $warning-dark,
    info: $info-dark,
    success: $success-dark,
);

$test: #18181c;
$test: #303033;
$test: #262629;

$test: #18181c;
$test: #18181c;
$test: #18181c;
$test: #18181c;
$test: #18181c;
$test: #18181c;
$test: #18181c;
$test: #18181c;
