* {
    margin: 0;
    padding: 0;
    font-family: $ff-default;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

main {
    position: fixed;
    top: $navbar-height;
    left: 0;
    width: 100vw;
    height: calc(100vh - $navbar-height);
    padding: 2rem;
}

.app--light main {
    background-color: $neutral-1;
}

.app--dark main {
    background-color: $neutral-7;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.7rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.2rem;
}

h6 {
    font-size: 1rem;
}
