.container {
    padding: 1rem;
    border-radius: 0.5rem;
}

.app--light .container {
    background-color: $neutral-1;
    -webkit-box-shadow: 3px 3px 10px 2px $neutral-4;
    box-shadow: 3px 3px 10px 2px $neutral-4;
}

.app--dark .container {
    background-color: $neutral-5;
    -webkit-box-shadow: 3px 3px 10px 2px $neutral-2;
    box-shadow: 3px 3px 10px 2px $neutral-2;
}

.app--light {
    .bg-success {
        background-color: $success-light;
    }

    .bg-error {
        background-color: $error-light;
    }
}

.app--dark {
    .bg-success {
        background-color: $success-dark;
    }

    .bg-error {
        background-color: $error-dark;
    }
}
