@import url("https://fonts.googleapis.com/css2?family=Baloo+2&family=Nunito:wght@800&family=Smooch&display=swap");

$ff-default: "Baloo 2", cursive;
$ff-heading: "Nunito", sans-serif;
$ff-logo: "Smooch", cursive;
