@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Expletus+Sans&family=Open+Sans&display=swap");

$ff-default: "Open Sans", sans-serif;
$ff-fancy: "Expletus Sans", cursive;
$ff-heading: "Comfortaa", cursive;
