@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Playfair+Display&family=Smooch&display=swap");

$ff-default: "Montserrat", sans-serif;
$ff-heading: "Playfair Display", serif;
$ff-logo: "Smooch", cursive;

$c-light: #f9f6ee;
$c-neutral: #4b4c4f;
$c-dark: #0a0e14;

$c-primary: #00bdff;
$c-secondary: #ff00bd;
$c-tertiary: #bdff00;

$c-success: #50c878;
$c-warning: #fdda0d;
$c-danger: #d70040;
