@import url("https://fonts.googleapis.com/css2?family=Baloo+2&family=Nunito:wght@800&family=Smooch&display=swap");

$ff-default: "Baloo 2", cursive;
$ff-heading: "Nunito", sans-serif;
$ff-logo: "Smooch", cursive;

$c-light: #f9f6ee;
$c-shadow: #c0c0c0;
$c-neutral: #4b4c4f;
$c-dark: #0a0e14;

$c-primary: #00bdff;
$c-secondary: #ff00bd;
$c-tertiary: #bdff00;

$c-success: #50c878;
$c-warning: #fdda0d;
$c-danger: #d70040;
