.container {
    box-shadow: 1px 1px 7px 2px $primary;

    > header {
        position: relative;
        height: 3rem;

        h6 {
            position: absolute;
            left: 4rem;
            top: 0;
        }

        > span {
            position: absolute;
            left: 4rem;
            bottom: 0;
            display: flex;
        }

        > svg {
            position: absolute;
            right: 0;
            top: 0;
            width: 1.5rem;
            height: 1.5rem;
        }
    }

    &__expand {
        text-align: center;
        padding: 0.5rem;
        cursor: pointer;
    }

    > section {
        display: flex;
        flex-direction: column;
        padding: 1rem;

        img {
            width: 100%;
            max-width: 30rem;
            margin: 2rem auto 1rem auto;
        }
    }

    > aside {
        display: flex;
    }

    &__edited {
        margin-left: 0.2rem;
        font-style: italic;
    }

    > summary {
        display: flex;
    }

    &__react {
        &--standard {
            margin-left: 0.5rem;

            @include breakpoint(laptop) {
                display: none;
            }
        }

        &--extended {
            display: none;
            margin-left: 0.5rem;

            @include breakpoint(laptop) {
                display: block;
            }
        }
    }

    &__like {
        margin-inline-start: auto;
    }

    hr {
        border: solid $neutral-4 1px;
        background-color: $neutral-4;
        border-radius: 0.5px;
        margin: 0.5rem 0;
    }
}
