.button {
    font: 1rem $ff-fancy;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 0.5rem;
    border-radius: 1.2rem;
    cursor: pointer;
    height: 2.4rem;
    min-width: 6rem;
    outline: none;
    border: solid black 1px;

    &:focus-within {
        box-shadow: 0px 0px 5px 3px $primary;
    }

    &.squared {
        border-radius: 0.5rem;
    }
}

.button.success {
    background-color: $success;
    &:hover {
        background-color: darken($success, 10%);
    }
}
.button.info {
    background-color: $info;
    &:hover {
        background-color: darken($info, 10%);
    }
}
.button.warning {
    background-color: $warning;
    &:hover {
        background-color: darken($warning, 10%);
    }
}
.button.help {
    background-color: $help;
    &:hover {
        background-color: darken($help, 10%);
    }
}
.button.error {
    background-color: $error;
    &:hover {
        background-color: darken($error, 10%);
    }
}
