.chatbar {
    position: fixed;
    top: $navbar-height;
    right: 0;
    width: $chatbar-width;
    height: calc(100vh - $navbar-height);
    border-left: solid $neutral-4 2px;
}

.app--light .chatbar {
    background-color: $neutral-1;
}

.app--dark .chatbar {
    background-color: $neutral-6;
}
