.navbar {
    height: $navbar-height;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__links {
        display: flex;
    }

    &__logo,
    &__link {
        cursor: pointer;
        margin-left: 1rem;
        color: $neutral-6;
    }

    &__logo {
        font-family: $ff-fancy;
        line-height: 2.5rem;
    }

    &__link {
        font-family: $ff-heading;
    }

    &__search {
        width: 30rem;
    }

    svg {
        width: 3.5rem;
        height: 3.5rem;
        margin-right: 1rem;
        cursor: pointer;
    }
}

.app--light .navbar {
    background-color: $primary-light;

    svg {
        fill: $primary-light-accent;
    }
}

.app--dark .navbar {
    background-color: $primary-dark;

    svg {
        fill: $primary-dark-accent;
    }
}
