.header {
    border: solid $neutral-3 1px;
    height: 20rem;
    position: relative;

    @include breakpoint(tablet) {
        border-radius: 1rem 1rem 0 0;
        overflow: hidden;
    }

    &__cover {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    section {
        position: absolute;
        background-color: rgba($color: $neutral-1, $alpha: 0.7);
        bottom: 0;
        left: 0;
        width: 100%;

        @include breakpoint(laptop) {
            height: 10rem;
        }
    }

    .wrapper {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    &__image {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);

        @include breakpoint(laptop) {
            width: 7rem;
            height: 7rem;
        }
    }

    &__text {
        margin-top: 2.5rem;
    }

    &__subtext,
    &__date,
    &__text {
        text-align: center;
        margin-bottom: 0.3rem;

        @include breakpoint(laptop) {
            position: absolute;
        }
    }

    &__subtext {
        @include breakpoint(laptop) {
            bottom: 0;
            left: 0.5rem;
        }

        @include breakpoint(desktop) {
            left: 50%;
            bottom: 1rem;
            transform: translateX(-50%);
        }
    }

    &__date {
        @include breakpoint(laptop) {
            right: 0.5rem;
            bottom: 0;
        }
    }

    &__text {
        @include breakpoint(laptop) {
            bottom: 3rem;
            width: 100%;
        }
    }

    .button {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 60%;
        max-width: 16rem;
        margin-bottom: 0.5rem;

        @include breakpoint(laptop) {
            width: auto;
            left: auto;
            position: absolute;
            top: 1rem;
            right: 1rem;
            transform: none;
        }
    }
}
