.dialog {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;

    &__content {
        position: fixed;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 0.5rem;
        width: clamp(200px, 50%, 500px);
    }

    section {
        padding: 0.9rem;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.5rem 0.5rem 0 0;
        height: 8rem;
    }

    &__icon {
        width: 80%;
        height: 80%;
        color: white;
    }

    p {
        font-size: 1.6rem;
        text-align: center;
        margin: 2rem;
    }

    &__footer {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    button {
        margin-bottom: 1rem;
    }
}

.app--light .dialog {
    &__content {
        background-color: $neutral-1;
    }

    p {
        color: $neutral-7;
    }
}

.app--dark .dialog {
    &__content {
        background-color: $neutral-7;
    }

    p {
        color: $neutral-1;
    }
}
