.tooltip {
    position: relative;

    &__content {
        position: absolute;
        bottom: 130%;
        width: max-content;
        left: 50%;
        transform: translateX(-50%);
        background-color: black;
        padding: 0.4rem;
        border-radius: 0.2rem;
    }

    &__hover {
        position: relative;
        font-size: 0.8rem;
        z-index: 100;
        flex-direction: column;
        color: white;

        span {
            display: flex;
        }

        &::before,
        &::after {
            position: absolute;
            content: "";
            background-color: black;
            width: 0.8rem;
            height: 0.8rem;
            z-index: -1;
            bottom: -0.5rem;
            border: none;
            outline: none;
        }

        &::before {
            right: calc(50% - 1px);
            transform: skew(0, 30deg);
        }
        &::after {
            left: calc(50% - 1px);
            transform: skew(0, -30deg);
        }
    }

    &__main {
        cursor: default;
    }
}
