.container {
    border-radius: 0.5rem;
    padding: 1rem;
}

.pfp {
    &--sm,
    &--md,
    &--lg {
        border-radius: 50%;
        object-fit: cover;
    }

    &--sm {
        border: solid $neutral-6 1px;
        width: 2rem;
        height: 2rem;
    }

    &--md {
        border: solid $neutral-6 2px;
        width: 3rem;
        height: 3rem;
    }

    &--lg {
        border: solid $neutral-6 2px;
        width: 5rem;
        height: 5rem;
    }
}

.wrapper {
    width: 100%;
    height: 100%;
}

// .emoji {
//     width: 1.5rem;
//     height: 1.5rem;
//     border-radius: 50%;
//     padding: 0.3rem;

//     &--like {
//         background-color: $primary;
//         color: white;
//     }

//     &--love {
//         background-color: #ff69b4;
//         color: white;
//     }

//     &--angry {
//         // background-color: black;
//         color: #ffef00;

//         path {
//             fill: black;
//         }
//     }
// }
