.app--light {
    .navbar,
    .rightbar,
    .card {
        background-color: darken($neutral-2, 5%);
        color: $neutral-6;
    }

    .container,
    .theme {
        background-color: $neutral-2;
        color: $neutral-6;
    }

    .hover-change:hover {
        background-color: darken($neutral-2, 15%);
    }

    main {
        background-color: $neutral-1;
    }
}

.app--void {
    .navbar,
    .rightbar,
    .card {
        background-color: darken($void, 5%);
        color: $neutral-2;
    }

    .container,
    .theme {
        background-color: $void;
        color: $neutral-2;
    }

    .hover-change:hover {
        background-color: $void;
    }

    main {
        background-color: black;
    }

    svg {
        fill: white;
    }
}

.app--dark {
    .navbar,
    .rightbar,
    .card {
        background-color: $neutral-6;
        color: $neutral-1;
    }

    .container,
    .theme {
        background-color: $neutral-5;
        color: $neutral-1;
    }

    .hover-change:hover {
        background-color: lighten($neutral-5, 5%);
    }

    main {
        background-color: $neutral-6;
    }

    svg {
        fill: white;
    }
}
