.app--light {
    .theme {
        background-color: $neutral-2;
        color: $neutral-6;
    }

    .bordered {
        border: solid black 1px;
    }

    .hover-change:hover {
        background-color: darken($neutral-2, 15%);
    }

    main {
        background-color: $neutral-1;
    }
}

.app--void {
    .theme {
        background-color: $void;
        color: $neutral-2;
    }

    .bordered {
        border: solid $neutral-4 1px;
    }

    .hover-change:hover {
        background-color: $void;
    }

    main {
        background-color: black;
    }

    a {
        color: white;
    }
}

.app--dark {
    .theme {
        background-color: black;
        color: $neutral-1;
    }

    .bordered {
        border: solid $neutral-4 1px;
    }

    .hover-change:hover {
        background-color: lighten($neutral-5, 5%);
    }

    main {
        background-color: $neutral-6;
    }

    a {
        color: white;
    }
}
