.rightbar {
    padding: 0.5rem;
    border-left: solid $neutral-4 2px;

    h1 {
        margin: 1rem;
        text-align: center;
    }

    aside {
        display: flex;
        justify-content: space-around;
        padding: 2rem;

        svg {
            width: 2rem;
            height: 2rem;
        }
    }
}

.app--light .rightbar {
    @include lightTheme;
}
.app--void .rightbar {
    @include voidTheme;
}
.app--dark .rightbar {
    @include darkTheme;
}
